* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}

/* ჰედერი*/
header {
  max-width: 1272px;
  margin: 37px auto 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*ჰედერის ნავიგაცია */
.header-navigation ul {
  display: flex;
  list-style: none;
}

.header-navigation {
  margin-left: 235px;
}

.header-navigation ul li {
  padding: 7px 25px 7px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.header-navigation ul li a {
  text-decoration: none;
  color: #262626;
}

.header-navigation ul li:hover {
  border-radius: 40px;
  background-color: #4ce0d7;
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}

/*საძიებო ველი */
.search-button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  padding-bottom: 5px;
}

.search-button :hover {
  background-color: #4ce0d7;
  transition: 0.3s;
  cursor: pointer;
  padding: 12px;
  border-radius: 25px;
}

/* ბურგერის ღილაკი */
.burger-menu {
  display: none; /* დიდი ეკრანებისთვის დამალულია */
  flex-direction: column;
  cursor: pointer;
}

.burger-menu span {
  width: 30px;
  height: 3px;
  background: #262626;
  margin: 3px 0;
  transition: all 0.3s ease-in-out;
}

/* ჰედერი მცირე ეკრანებისთვის */
@media (max-width: 768px) {
  header {
    max-width: 700px;
  }
  .burger-menu {
    display: flex; /* პატარა ეკრანებზე ბურგერის ღილაკი გამოჩნდება */
    margin-left: auto;
    margin-bottom: 10px;
  }

  .header-navigation ul {
    display: none; /* ნავიგაცია დამალულია */
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    background: url(./Assets/images/logo.svg) center top 40px;
    background-repeat: no-repeat;
    background-color: #4ce0d7;
    border-radius: 0 20px 0 0;
  }

  .header-navigation ul.show {
    display: flex; /* მენიუ გამოჩნდება ღილაკზე დაჭერისას */
  }

  .header-navigation ul li {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    text-align: center;
  }

  .header-navigation ul li:first-child {
    margin-top: 110px;
  }

  .header-navigation ul li:hover {
    background: none;
    transform: scale(1.1);
    transition: 0.4s;
    text-decoration: underline 2px #262626;
    text-underline-offset: 10px;
  }
}

/* საძიებო ველის სტილები */
.search-form {
  display: none; /* საძიებო ველი დამალულია */
  position: relative;
  right: 0;
  padding: 3px;
  border: 1px solid #5c5c5c;
  border-radius: 4px;
  background-color: #4ce0d7;
  margin: 0 15px 5px 0;
}

.search-form input {
  width: 125px;
  padding: 5px;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 2px;
}

.search-form.show {
  display: block;
}
/*დაწყება ტოპიკების*/
.topic-card > h3{
  font-weight:700;
  line-height: 48px;
  font-size: 32px;
  margin-bottom: 48px;
  margin-left: 300px;
}
.topic{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 87.5px;
}
.topic-inner{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF; 
  width: 204px;
  height: 291px;
  gap: 10px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.topic-inner h4{
  width: 129px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.topic-inner img{
  width:88px;
  height:88px; 
}
.topic-inner a{
  color: black;
  text-decoration: none;
}
.button:hover{
  border-radius: 40px;
  background-color: #4ce0d7;
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}
.button{
  padding: 7px 25px;
}
.topics-section h3{
  max-width: 1272px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 32px;
  font-weight: 700;
}
/*ტოპიკების დამთავრება*/
/* ფოტოს მეინის დაწყება*/
.inner-main{
  background-image: url(Assets/images/woman1.png);
  height: 559px;
  width: 1272px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  margin: 84px auto 84px;
  margin-top: 62px;
  padding-left: 57px;
  padding-top: 218px;
  gap: 23px;
}
.p2{
  color:white;
  font-weight:400px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 19px;
  max-width: 490px;
}
.p1{
  color: white;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 22px;
}
.inner-main h1{
  color:white;
  font-weight: 700;
  font-size: 46px;
  line-height: 69px;
}
.color{
  background-image: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
  color:transparent;
  background-clip: text;
}
/*ფოტოს მეინის დამთავრება*/

.card-content{
  gap: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.card-button{
  background-color: #262626;
  border-radius: 40px;
  width: 175.44px;
  height: 36.49px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 125px;
  bottom: 291px;
}

.card-button > a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
}

.background-photo{
  position: relative;
  width: 950px;
  height: 367.41px;
}

.background-photo > img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1204px;
  height: 368px;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin-left: 108px;
  margin-right: 108px;
}

.information-content{
  margin-left: 46px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.photo-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding-right: 104px;
}

.photo-name2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.photo-name2 > p{
  color: #BCBCBC;
  font-size: 14px;
}

.photo-name > p{
  color: #BCBCBC;
  font-size: 14px;
}

.p-text{
  width: 566.50px;
  height: 73px;
  display: flex;
  flex-wrap: wrap;
  padding-right: 140px;
}

.h3-title{
  width: 566.50px;
  height: 73px;
  display: flex;
  flex-wrap: wrap;
  padding-right: 140px;
}

.h3-title > h3{
  font-size: 26px;
  color: #262626;
  font-weight: 700;
}

.p-text > p{
  font-size: 15.90px;
  font-weight: 400;
  color: #262626;
}

.read-more{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25.17px;
}

.read-more > a{
  font-size: 12px;
  color: #4CE0D7;
  text-decoration: none;
  font-weight: 700;
}